#box {
  position: relative;
  background-color: #3a3a3a;
  width: 90vw;
  min-height: 90vh;
  margin-top: 5vw;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

#caixa {
  position: absolute;
  background-color: #3a3a3a;
  width: 90%;
  min-height: 80%;
  border: 18px solid #969696;
  margin-left: 35px;
  display: flex;
  align-items: flex-start;
}

#primeirobotao {
  width: 50%;
  height: 5.5%;
  border-radius: 15px;
  margin-left: 25%;
  background-color: rgb(34, 34, 52);
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

#segundobotao {
  width: 50%;
  height: 5.5%;
  border-radius: 15px;
  background-color: rgb(34, 34, 52);
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-left: 25%;
}

#terceirobotao {
  width: 50%;
  height: 5.5%;
  border-radius: 15px;
  background-color: rgb(34, 34, 52);
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-left: 28%;
}

#lista1 {
  background-color: transparent;
  width: 33.33%;
  min-height: 100%;
  border-right: 7px solid #969696;
}

#lista2 {
  background-color: transparent;
  width: 33.34%;
  height: 100%;
  border-right: 7px solid #969696;
}

#lista3 {
  background-color: transparent;
  width: 33.33%;
  height: 100%;
}

#elementos1 {
  width: 20vw;
  min-height: 10vw;
  background-color: #846351;
  list-style-type: none;
  margin-left: 3%;
  border-radius: 15px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  word-wrap: break-word;
}

#elementos2 {
  width: 20vw;
  min-height: 10vw;
  background-color: #46556c;
  list-style-type: none;
  margin-left: 3%;
  border-radius: 15px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  word-wrap: break-word;
}

#elementos3 {
  width: 20vw;
  min-height: 10vw;
  background-color: #466c6c;
  list-style-type: none;
  margin-left: 3%;
  border-radius: 15px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  word-wrap: break-word;
}
